@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Lexend', sans-serif;

  background:  url(./img/color-lines.png), url(./img/department.png), url(./img/mancha-azul.png), url(./img/mancha-verde.png);
  background-position: right 112px top 138px, right top, left top, left top;
  background-repeat: no-repeat;
  background-size: 527px, 720px, auto, auto;
}

p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.75;
  color:  #626687;
}

h3{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #0E1735;
}

.css-1gywuxd-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 300px !important;
}

.infoCard p{
  font-size: 12px;
}

.card p{
  color: #3C4563;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
